.text-profil{
    height: 150px;
    width: 630px;
   
}
.picture{
    margin-left: 200px;
}

.ProfilName{
    font: 300 28px "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: rgb(26,26,26);
    margin: 0 0 20px 0;
    
}
.ProfilName Button{
    margin-left: 20px;
}
.rowProfil{
    margin: 0 0 44px 0;
}
.position p{
    margin-right: 20px;
}
.text-profil{
    margin-right:50%;
    margin-top: 30px;  
}
.col_picture{
    margin-top: 20px;
}
